<div class="chat-header">
 <div class="left-top">
    <div class = "chat-name">
      <%= @group.name%>
    </div>
  </div>
  <div class="right-top">
    <div class="chat-end">
      <%= link_to "このグループを削除する", group_path(@group), method: :delete %>
    </div>
  </div>
</div>

  <div class="messages">
    <%@messages.each do |message|%>
    <div class="message">
      <div class="message-content">
       <%= message.content%>
      </div>
        <div class="more">
          <ul class="more_list">
            <li>
              <%= link_to '削除',group_message_path(@group,message),  method: :delete%>
            </li>
          </ul>
        </div>
        </div>
    <%end%>
  </div>

<%= form_with model: [@group, @message], html: {class: "form"}, local: true do |f| %>
  <div class="form-input">
    <%= f.text_area :content, class: 'form-message' %>
  </div>
  <%= f.submit '送信', class: 'form-submit' %>
<% end %>